# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

./data
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client_secret.json

# Ignore all compiled Python files
*.pyc

# Ignore the virtual environment directory
backend/venv/

# Ignore the database file
db.sqlite3

# Ignore the logs directory
logs/

# Ignore the local development environment file
.env

# Ignore all files in migration directories
**/migrations/*

# But do not ignore __init__.py
!**/migrations/__init__.py

# Ignore any secret or sensitive files
**/secrets.txt

# Ignore vs code setting
.vscode

backend/docker-compose.yml

test