venv
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

./data
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client_secret.json

# Ignore all compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore the Django settings file
myproject/settings.py

# Ignore the static files directory
myproject/static/

# Ignore the media files directory
myproject/media/

# Ignore the database file
db.sqlite3

# Ignore the logs directory
logs/

# Ignore the local development environment file
.env

# Ignore the migration files
**/migrations/

# Ignore any secret or sensitive files
**/secrets.txt
