# Ignore all compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore the database file
db.sqlite3

# Ignore the logs directory
logs/

# Ignore the local development environment file
.env

# Ignore any secret or sensitive files
**/secrets.txt

# Ignore vs code setting
.vscode

__pycache__

# Ignore all files in the migrations directory
migrations/*

# Except for __init__.py
!migrations/__init__.py
