.SignupPage {
  height: 450px;
  width: 800px;
  // background-color: rgba(255, 255, 255, 0.852);
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid rgb(231, 220, 220);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.LoginPage {
  height: 450px;
  width: 800px;
  // background-color: rgba(255, 255, 255, 0.852);
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid rgb(227, 214, 214);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.Auth_login-form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .Auth_login-text {
    h4 {
      font-size: 22px;
    }

    h4:first-child {
      padding-bottom: 4px;
    }

    .Auth_sign_in_or_up-link {
      display: flex;
      padding: 10px 0;
      margin-top: 6px;
      justify-content: center;

      p:first-child {
        color: rgba(0, 0, 0, 0.759);
        font-size: 14px;
      }

      p:last-child {
        color: blue;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .Auth_google-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    margin-top: 5px;
  }

  .Auth_login_form-divider {
    display: flex;
    justify-content: center;
    padding: 8px 0;

    p {
      color: gray;
    }
  }

  .Auth_login-inputs {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    input {
      margin-bottom: 10px;
      width: 240px;
      padding: 8px 10px;
      border: 1px solid gray;
      border-radius: 3px;

      &:focus {
        border: 1px solid rgb(131, 131, 131);
        outline: none;

        &::placeholder {
          color: rgb(131, 131, 131);
        }
      }
    }

    button {
      width: 260px;
      padding: 10px 0;
      margin-top: 18px;
      border-radius: 3px;
      border: 1px solid gray;
      background-color: rgb(26, 115, 232);
      color: whitesmoke;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    .Auth_login_forgot-password {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      p {
        color: blue;
        font-size: 14px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

.Auth_bg_img {
  .Auth_bg_img-art {
    height: 100%;
    width: 460px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
