.cart__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cart__main {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  padding: 50px 40px;
  position: relative;
}

.cart__container-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 0 20px;
  width: 100%;

  .cart__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cart__container-image-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(243, 235, 235);
      border: 1px solid rgb(199, 199, 199);
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
      }

      p {
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 0;
      }

      span {
        font-weight: bold;
        font-size: 19px;
        margin: 5px 0;
        color: rgba(0, 0, 0, 0.7);
      }
    }

    button {
      font-size: 36px;
      color: rgb(194, 34, 34);
      height: 100%;
      width: 100%;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      padding: 4px 0;
      border-radius: 10px;
      outline: none;
      border: 1px solid rgb(199, 199, 199);
      background-color: rgb(243, 235, 235);

      &:hover {
        cursor: pointer;
        color: #ef0107;
        background-color: rgba(201, 200, 200, 0.75);
        border: 1px solid rgb(153, 153, 153);
      }
    }
  }
}

.cart__grand_total-section {
  width: 100%;
  padding: 0 20px;
  height: auto;
  position: relative;
}

.cart__grand_total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 20px;
  width: auto;
  margin: 20px 0;
  padding: 30px 20px;
  position: sticky;
  height: auto;

  .cart__grand-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
      line-height: 42px;
    }

    span {
      display: flex;
      height: 1px;
      background-color: black;
      width: 100%;
    }
  }

  .cart__products-container {
    margin-top: 15px;
    width: 100%;

    .cart__products {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 4px;
    }
  }

  .cart__products-total-price {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: flex;
      height: 1px;
      background-color: rgba(90, 90, 90, 0.465);
      width: 100%;
    }

    p {
      margin: 20px 0;
      font-size: 36px;
      font-weight: bolder;
      color: rgb(56, 56, 56);
    }
  }

  .cart__products-shop-button {
    width: 100%;

    button {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      border-radius: 6px;
      background-color: rgb(207, 191, 219);
      outline: none;
      border: 1px solid rgb(153, 153, 153);

      &:hover {
        background-color: #3498db;
        border: 1px solid rgb(96, 96, 96);
        cursor: pointer;
      }
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  .slide-in {
    animation-name: slideIn;
  }

  .slide-out {
    animation-name: slideOut;
  }

  .cart__products-bought {
    display: flex;
    position: fixed;
    bottom: 40px;
    z-index: 100;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 0px 35px black;
    background-color: rgb(233, 59, 97);
    padding: 20px 10px 20px 30px;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    p {
      font-size: 18px;
    }

    span {
      display: flex;
      text-align: center;
      color: black;
      font-size: 14px;
      position: relative;
      bottom: 60px;
      border-radius: 50%;
      padding: 5px;
      background-color: white;
      border: 1px solid gray;
      transition: transform 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 900px) {
  .cart__main {
    padding: 20px 40px;
  }

  .cart__container-main {
    width: 100%;
    padding: 20px 0;

    .cart__product {
      margin-top: 20px;
    }
  }

  .cart__grand_total-section {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .cart__main {
    padding: 20px 10px;
  }

  .cart__container-main {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

.cart__empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;

  h1 {
    font-size: 36px;
  }

  p {
    margin-top: 10px;
  }

  button {
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    background-color: #3498db;
    border: 1px solid rgb(71, 71, 71);

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  .cart__empty-message {
    text-align: center;
  }
}
