.Loginpage {
  height: 450px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.852);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  .Loginpage_login-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;

    .Loginpage_login-text {
      h4 {
        font-size: 23px;
      }

      h4:first-child {
        padding-top: 15px;
        padding-bottom: 4px;
      }

      .Loginpage_signup-link {
        display: flex;
        padding: 10px 0;
        margin-top: 6px;
        align-items:flex-end;

        p:first-child {
          color: rgba(0, 0, 0, 0.759);
        }

        p:last-child {
          color: blue;
          font-size: 14px;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    .Loginpage_google-div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 10px;
      margin: 5px 0;
    }

    .Loginpage_login_form-divider {
      display: flex;
      justify-content: center;
      padding: 10px 0;

      p {
        color: gray;
      }
    }

    .Loginpage_login-inputs {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      input {
        margin-bottom: 10px;
        width: 240px;
        padding: 10px 10px;
        border: 1px solid gray;
        border-radius: 3px;

        &:focus {
            border: 1px solid rgb(131, 131, 131);
            outline: none;
    
            &::placeholder {
              color: rgb(131, 131, 131);
            }
          }
      }

      button {
        width: 260px;
        padding: 10px 0;
        margin-top: 18px;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: rgb(26,115,232);
        color: whitesmoke;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
      }


      .Loginpage_login_forgot-password {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        p {
            color: blue;
            font-size: 14px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
      }
    }
  }

  .Loginpage_bg_img {
    .Loginpage_bg_img-art {
      height: 100%;
      width: 460px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
