nav {
    background-color: transparent;
    padding: 0px 40px;
    padding-top: 6px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  
    li:first-child {
      img {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
      }
    }
  
    li:nth-last-child(2) {
      display: flex;
      align-items: center;
  
      input {
        border-radius: 15px;
        border: 1px solid white;
        height: 30px;
        width: 360px;
        padding: 0 20px;
        background-color: rgb(25, 24, 24);
        color: white;
  
        &::placeholder {
          color: white;
          font-weight: 700;
        }
  
        &:focus {
          border: 1px solid rgb(131, 131, 131);
          outline: none;
  
          &::placeholder {
            color: rgb(131, 131, 131);
          }
        }
      }
  
      p {
        display: flex;
        position: relative;
        right: 33px;
        color: white;
        font-size: 18px;
  
        &:hover {
          cursor: pointer;
        }
      }
    }
  
    li:last-child {
      display: flex;
      align-items: center;
      color: white;
  
      button {
        border: none;
        padding: 10px 14px;
        border-radius: 30px;
        background-color: blueviolet;
        color: white;
  
        &:hover {
          cursor: pointer;
        }
      }
  
      p {
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
  
      button {
        margin-left: 10px;
      }
    }
  }