@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.Navbar_container {
  background-color: rgb(243, 235, 235);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 30px 10px 30px;
  text-align: center;
}

.Navbar_container-search {
  display: flex;
  align-items: center;
  text-align: center;

  p {
    display: flex;
    color: black;
    font-size: 18px;
    position: relative;
    left: 30px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border-radius: 15px;
    height: 35px;
    padding-left: 40px;
    width: 140px;
    background-color: white;
    color: black;
    border: none;
    outline: none;

    &::placeholder {
      color: rgb(142, 142, 142);
    }

    &:hover {
      outline: none;
      background-color: rgb(255, 255, 255);
      color: black;
      border: 1px solid black;
      &:focus {
        outline: none;
        background-color: rgb(255, 255, 255);
        color: black;
        border: 1px solid black;
      }

      &::placeholder {
        color: rgb(121, 121, 121);
      }
    }
  }
}

.Navbar_container-logo{
  p {
    font-family: "Abril Fatface", cursive;
    font-size: 40px;
    letter-spacing: 1.8px;
  }
}

.Navbar_container-buttons {
  display: flex;
  align-items: center;
  color: white;
  width: 194.6px;

  button {
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    margin-right: 10px;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }

  button {
    margin-left: 10px;
  }
}
