@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

nav {
  background-color: white;
  padding: 0px 30px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 0;
  text-align: center;

  li:first-child {
    display: flex;
    align-items: center;
    text-align: center;

    p {
      display: flex;
      color: black;
      font-size: 18px;
      position: relative;
      left: 30px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      border-radius: 15px;
      height: 35px;
      padding-left: 40px;
      width: 140px;
      background-color: rgb(245, 245, 245);
      color: black;
      border: none;
      outline: none;

      &::placeholder {
        color: rgb(142, 142, 142);
      }

      &:hover {
        outline: none;
        background-color: rgb(235, 220, 220);
        color: black;
        &:focus {
          outline: none;
          background-color: rgb(235, 220, 220);
          color: black;
        }

        &::placeholder {
          color: rgb(121, 121, 121);
        }
      }
    }
  }

  li:nth-last-child(2) {
    p {
      font-family: "Abril Fatface", cursive;
      font-size: 40px;
      letter-spacing: 1.8px;
    }
  }

  li:last-child {
    display: flex;
    align-items: center;
    color: white;
    width: 194.6px;

    button {
      border: none;
      padding: 10px 14px;
      border-radius: 30px;
      background-color: blueviolet;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }

    p {
      margin-right: 10px;
      color: black;
      &:hover {
        cursor: pointer;
      }
    }

    button {
      margin-left: 10px;
    }
  }
}
