.ShopPage_container {
  overflow: hidden;
}

.ShopPage_container-main {
  display: flex;
  flex-direction: column;
  position: relative;

  .ShopPage_container-main_text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.18);

    h1 {
      color: white;
      font-size: 50px;

    }
  }
}
