.shop {
  overflow: hidden;
}

.shop__main {
  display: flex;
  flex-direction: column;
  position: relative;

  .shop__main-heading {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    h1 {
      font-family: "Dancing Script", cursive;
      font-size: 40px;
      background-color: rgb(134, 134, 134);
      padding: 20px;
      border-radius: 20px;
      color: white;
    }

    span {
      color: pink;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      // text-decoration: underline;
    }
  }

  .shop__main-poster {
    display: flex;
    position: relative;
    height: 470px;

    img {
      height: 100%;
      width: 100%;
    }

    .shop__main-text {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.18);

      h1 {
        color: white;
        font-size: 50px;
      }
    }
  }

  .shop__products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 40px 140px;
    margin: 30px 0;
    line-height: 25px;

    .shop__products-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
      background-color: rgb(231, 231, 231);
      text-align: center;

      span {
        color: rgba(0, 0, 0, 0.7);
        font-size: 26px;
        padding-top: 15px;
      }

      p {
        font-size: 32px;
        color: rgb(43, 43, 43);
        text-transform: uppercase;
        line-height: 36px;
        padding: 0 20px;
      }

      @keyframes moveRight {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(100%);
        }
      }

      @keyframes moveLeft {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0);
        }
      }

      #add {
        background: rgb(115, 115, 236);
        transition: background-color 1s ease-in-out;
      }

      #added {
        background: green;
        transition: background-color 1s ease-in-out;
      }

      #add,
      #added {
        margin-top: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 8px 6px;
        border-radius: 30px;
        border: none;
        text-transform: uppercase;
        overflow: hidden;

        span {
          color: white;
          font-size: 14px;
          padding: 0 4px;
          white-space: nowrap;
        }

        &:hover {
          cursor: pointer;
        }

        p {
          display: flex;
          justify-content: center;
          background-color: white;
          color: rgb(115, 115, 236);
          margin-right: 8px;
          padding: 6px;
          border-radius: 50%;
          font-size: 20px;
          font-weight: bold;

          svg {
            color: rgb(115, 115, 236);
          }
        }
      }
    }
  }
}

.shop__empty-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 60px;

  p {
    font-size: 30px;
    color: rgb(236, 69, 167);
  }

  img {
    width: 50vw;
  }
}
@media (max-width: 800px) {
  .shop__main {
    .shop__main-poster {
      .shop__main-text {
        h1 {
          font-size: 42px;
        }
      }
    }

    .shop__products-container {
      padding: 40px 60px;

      .shop__products-item {
        p {
          font-size: 26px;
          line-height: 26px;
        }

        span {
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 460px) {


  .shop__main {
    .shop__main-heading {
  
      h1 {
        font-size: 26px;
        background-color: rgb(134, 134, 134);
        padding: 20px;
        border-radius: 20px;
        color: white;
      }

      span {
        font-size: 24px;
      }
    }
    .shop__main-poster {
      height: 280px;
      .shop__main-text {
        h1 {
          font-size: 30px;
        }
      }
    }
    .shop__products-container {
      padding: 10px 20px;

      .shop__products-item {
        p {
          font-size: 16px;
          line-height: 21px;
        }

        span {
          font-size: 18px;
          padding-top: 5px;
        }

        button {
          font-size: 10px;
          padding: 4px 4px;
          margin-top: 20px;
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .shop__empty-result {
    text-align: center;
    p {
      font-size: 18px;
      color: rgb(236, 69, 167);
    }

    img {
      margin-top: 30px;
      width: 80vw;
    }
  }
}
