.forgot-page-container {
  height: 460px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.852);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  .forgot-page__forgot-form {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .forgot-page__email-match {
      padding-bottom: 20px;

      span {
        display: flex;
        align-items: center;
        text-align: center;
        color: red;
        font-size: 15px;
      }
    }

    .forgot-page__container-text {
      p:first-child {
        color: rgb(91, 91, 91);
        font-size: 38px;
        padding-bottom: 15px;
      }

      h3 {
        font-size: 18px;
        padding-bottom: 10px;
      }

      p:last-child {
        font-size: 14px;
        padding-bottom: 20px;
      }
    }

    .forgot-page__container-inputs {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        width: 240px;
        padding: 8px 10px;
        margin-bottom: 10px;
        border: 1px solid gray;
        border-radius: 3px;

        &:focus {
          border: 1px solid rgb(131, 131, 131);
          outline: none;

          &::placeholder {
            color: rgb(131, 131, 131);
          }
        }
      }

      button[type="submit"] {
        width: 260px;
        padding: 10px 0;
        margin-top: 18px;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: rgb(26, 115, 232);
        color: whitesmoke;
        font-weight: bold;
        display: flex;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }

      p {
        margin-top: 18px;
        font-size: 15px;
        color: blue;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 800px) {
    width: auto;
    border-radius: 5px;

    .forgot-page__forgot-form {
      padding: 45px;
    }
  }
}
