.new_pass_page_container {
  height: 460px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.852);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .new_pass_page_container_form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .new_pass_page_password_match {
      padding-bottom: 20px;
  
      span {
        display: flex;
        text-align: center;
        align-items: center;
        color: red;
        font-size: 15px;
      }
    }

    .new_pass_page_container_text {
      padding-bottom: 20px;

      p:first-child {
        color: blue;
        font-size: 45px;
        padding-bottom: 25px;
      }

      h3 {
        padding-bottom: 8px;
      }

      p:last-child {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .new_pass_page_container_inputs {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      input {
        margin-bottom: 10px;
        width: 240px;
        padding: 8px 10px;
        border: 1px solid gray;
        border-radius: 3px;

        &:focus {
          border: 1px solid rgb(131, 131, 131);
          outline: none;

          &::placeholder {
            color: rgb(131, 131, 131);
          }
        }
      }

      button[type="submit"] {
        width: 260px;
        padding: 10px 0;
        margin-top: 18px;
        border-radius: 3px;
        border: 1px solid gray;
        background-color: rgb(26, 115, 232);
        color: whitesmoke;
        font-weight: bold;
        display: flex;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

}
