.footer {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
  color: white;
}

.footer__socials {
  display: flex;

  a {
    font-size: 28px;
    text-decoration: none;
    padding: 20px;
    margin: 10px 15px;
    background-color: whitesmoke;
    border-radius: 50%;
    height: fit-content;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.footer__heading {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.footer__skills {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.footer__skills-web,
.footer__skills-other {
  margin-top: 10px;
  padding: 20px 50px;
  background-color: #0f0f0fef;
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: 1px solid gray;
  width: 170px;
  margin: 0 80px;

  p {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
    color: rgba(223, 223, 223, 0.801);
  }

  ul {
    list-style: none;
  }
  li {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 18px;
  }

  span {
    font-size: 26px;
    display: flex;
    align-items: center;
  }
}

.footer__skills-web {

  ul {
    padding-top: 5px;
  }
  p {
    color: #00ffff;
  }
}

.footer__skills-other {
  p {
    color: rgb(211, 110, 110);
  }
}

@media (max-width: 460px) {
  .footer__skills {
    background-color: #0f0f0fef;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);

  }
  .footer__skills-web,
  .footer__skills-other {
    padding: 20px 5px;
    background-color: unset;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    margin: 0;

    p {
      font-size: 18px;
    }
  

    ul {
      padding: 0 10px;
    }

    li {
      font-size: 16px;
    }
  }

  .footer__skills-web {
    ul {
      border-right: 1px solid gray;
    }
  }

  .footer__skills-other {
    ul {
      border-left: 1px solid gray;
    }
  }
}
