.footer-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 80px;

  ul {
    list-style: none;
  }

  .footer-container-one-div {
    display: flex;
    justify-content: space-between;

    .footer-container-list-container {
      display: flex;
      flex-direction: row;

      .footer-container-ul-one {
        li {
          color: white;
        }
      }

      .footer-container-ul-two, .footer-container-ul-three {
        li:first-child {
          color: white;
        }
      }

      p {
        font-size: 14px;
        line-height: 30px;
        font-weight: 700;

        &:hover {
          cursor: pointer;
        }
      }

      li {
        color: rgb(56, 56, 56);
        line-height: 30px;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }
      }

      ul:nth-child(2) {
        padding: 0 120px;
      }
    }

    .footer-container-logos-container {
      display: flex;

      a {
        font-size: 24px;
        text-decoration: none;
        padding: 10px 10px;
        margin: 0 5px;
        background-color: whitesmoke;
        border-radius: 50%;
        height: fit-content;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .footer-container-two-div {
    margin-top: 26px;

    .footer-container-bottom-container {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 14px;
        color: rgb(56, 56, 56);

        &:hover {
          cursor: pointer;
        }
      }

      ul {
        display: flex;
      }

      li {
        color: rgb(56, 56, 56);
        padding: 0 10px;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
