.navbar_container {
  background-color: rgb(243, 235, 235);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 30px 8px 30px;
  text-align: center;
}

.navbar_search {
  display: flex;
  align-items: center;
  text-align: center;

  p {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border-radius: 15px;
    height: 35px;
    width: 140px;
    padding-left: 40px;
    background-color: white;
    color: black;
    border: 1px solid white;
    outline: none;

    &::placeholder {
      color: rgb(142, 142, 142);
    }

    &:hover {
      outline: none;
      background-color: rgb(255, 255, 255);
      color: black;
      border: 1px solid rgb(167, 167, 167);

      &:focus {
        outline: none;
        background-color: rgb(255, 255, 255);
        color: black;
        border: 1px solid rgb(167, 167, 167);
      }

      &::placeholder {
        color: rgb(121, 121, 121);
      }
    }
  }
}

.navbar_logo {
  a {
    all: unset;
  }

  p {
    font-size: 40px;
    font-weight: 500;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 1.8px;
    &:hover {
      cursor: pointer;
    }
  }
}

.navbar_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 194.6px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 45px;
    width: 45px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: 32px;
    font-size: bold;
    color: rgb(65, 65, 65);
    margin: 0px 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar_buttons {
  display: flex;
  align-items: center;
  color: white;
  width: 194.6px;

  p {
    margin-right: 10px;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    background-color: blueviolet;
    color: white;

    &:hover {
      cursor: pointer;
    }

    margin-left: 10px;
  }
}

.navbar_container_search {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 90;
  background-color: rgba(16, 21, 30, 0.9);
  justify-content: center;
  align-items: center;
}

.navbar_user_search {
  .navbar_search_input {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 110;
    align-items: center;
    top: 140px;

    p:first-child {
      position: relative;
      color: rgb(131, 131, 131);
      font-size: 22px;
      left: 38px;
      top: 4px;
    }

    input {
      padding: 22px 42px;
      width: 38%;
      background-color: rgb(45, 55, 72);
      color: white;
      border: 1px solid rgb(48, 48, 48);
      border-radius: 10px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    span {
      font-size: 20px;
      color: white;
      display: flex;
      align-items: center;
      position: relative;
      right: 32px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
