// Variables
$main-color: rgb(243, 235, 235);
$secondary-color: rgb(142, 142, 142);
$highlight-color: rgb(255, 255, 255);
$border-color: rgb(167, 167, 167);
$profile-color: rgb(65, 65, 65);
$button-color: blueviolet;

.navbar_container {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 8px 30px;
  text-align: center;
}

.navbar_search {
  display: flex;
  align-items: center;
  text-align: center;

  p {
    font-size: 18px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border: 1px solid white;
    border-radius: 15px;
    height: 35px;
    width: 140px;
    padding-left: 40px;
    background-color: white;
    color: black;
    outline: none;

    &::placeholder {
      color: $secondary-color;
    }

    &:hover {
      background-color: $highlight-color;
      border: 1px solid $border-color;
      color: black;
      outline: none;

      &:focus {
        background-color: $highlight-color;
        border: 1px solid $border-color;
        color: black;
        outline: none;
      }

      &::placeholder {
        color: $secondary-color;
      }
    }
  }
}

.navbar_logo {
  a {
    all: unset;
  }

  p {
    font-size: 40px;
    font-weight: 500;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 1.8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar_logo_image {
  display: none;

  img {
    object-fit: cover;
    width: 40px;
  }
}

.navbar_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 194.6px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 45px;
    width: 45px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }

  #search_icon {
    display: none;
    font-size: 29px;
    margin-right: 10px;
  }

  p {
    font-size: 32px;
    font-weight: bold;
    color: $profile-color;
    margin-right: 10px;
    padding: 10px 0px 5px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar_buttons {
  display: flex;
  align-items: center;
  width: 194.6px;
  color: white;

  p {
    margin-right: 10px;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    background-color: $button-color;
    color: white;

    &:hover {
      cursor: pointer;
    }

    margin-left: 10px;
  }
}

// Responsive

@media (max-width: 1024px) {

  .navbar_logo {
    display: none;
  }

  .navbar_logo_image {
    display: flex;
  }

  .navbar_search {
    display: none;
  }

  .navbar_profile {
    #search_icon {
      display: flex;
    }
  }
}
