// Variables
$main-color: rgb(243, 235, 235);
$secondary-color: rgb(142, 142, 142);
$highlight-color: rgb(255, 255, 255);
$border-color: rgb(167, 167, 167);
$profile-color: rgb(65, 65, 65);
$button-color: blueviolet;

@mixin flex-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar_container {
  @include flex-center();
  background-color: $main-color;
  justify-content: space-between;
  padding: 8px 30px;
}

.navbar_search {
  @include flex-center();

  p {
    font-size: 18px;
    font-weight: bold;
    color: black;
    position: relative;
    left: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border: 1px solid white;
    border-radius: 15px;
    height: 35px;
    width: 140px;
    padding-left: 40px;
    background-color: white;
    color: black;
    outline: none;

    &::placeholder {
      color: $secondary-color;
    }

    &:hover {
      background-color: $highlight-color;
      border: 1px solid $border-color;
      color: black;
      outline: none;

      &:focus {
        background-color: $highlight-color;
        border: 1px solid $border-color;
        color: black;
        outline: none;
      }

      &::placeholder {
        color: $secondary-color;
      }
    }
  }
}

.navbar_search_icons {
  display: none;
  margin: 0 10px;

  p {
    display: flex;
    justify-content: flex-end;
    margin: 0 6px;
    &:hover {
      cursor: pointer;
    }
  }

  p:first-child {
    font-size: 23px;
    padding-top: 1px;
  }

  p:last-child {
    font-size: 26px;
  }
}

.navbar_logo {
  a {
    all: unset;
  }

  p {
    font-size: 40px;
    font-weight: 500;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 1.8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar_profile {
  @include flex-center();
  justify-content: flex-end;
  width: 194.6px;
  height: 50px;
  border-radius: 50%;

  img {
    height: 45px;
    width: 45px;
    margin: 0 15px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: 32px;
    font-weight: bold;
    color: $profile-color;
    padding: 10px 0px 5px;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    display: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px 0px 5px;
  }
}

.navbar_buttons {
  @include flex-center();
  justify-content: flex-end;
  width: 194.6px;
  color: white;

  p {
    margin-right: 10px;
    color: black;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    border: none;
    padding: 10px 14px;
    border-radius: 30px;
    background-color: $button-color;
    color: white;

    &:hover {
      cursor: pointer;
    }

    margin-left: 10px;
  }
}

.navbar_button_slider {
  display: none;

  p {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

// Responsive

@media (max-width: 780px) {
  .navbar_container {
    padding: 8px 25px;
    background-color: $highlight-color;
  }

  .navbar_search,
  .navbar_buttons {
    display: none;
  }

  .navbar_search_icons,
  .navbar_button_slider{
    display: flex;
  }

  .navbar_profile {
    span {
      display: flex;
    }
  }
}

@media (max-width: 460px) {
  .navbar_container {
    padding: 8px 20px;
  }

  .navbar_logo {
    p {
      font-size: 0;
    }

    p::before {
      content: "S";
      font-size: 40px;
    }
  }
}
