.navbar__container-search {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 90;
  background-color: rgba(16, 21, 30, 0.9);
  justify-content: center;
  align-items: center;
}

.navbar__user-search {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 110;
  align-items: center;

  .navbar__search-close {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 100px;
    width: 49vw;

    p {
      display: flex;
      align-items: center;
      color: white;
      font-size: 15px;
      font-weight: bold;
      border-radius: 50%;
      padding: 5px;
      background: black;
      border: 1px solid gray;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .navbar__search-input {
    display: flex;
    align-items: center;
    position: relative;
    top: 120px;

    p:first-child {
      position: relative;
      color: rgb(131, 131, 131);
      font-size: 22px;
      left: 38px;
      top: 4px;
    }

    input {
      padding: 22px 42px;
      width: 45vw;
      background-color: rgb(20, 26, 37);
      color: white;
      border: 1px solid rgb(48, 48, 48);
      border-radius: 10px;
      font-size: 16px;

      &:focus {
        outline: none;
      }
    }

    span {
      font-size: 20px;
      color: white;
      display: flex;
      align-items: center;
      position: relative;
      right: 45px;
      padding: 6px;
      border-radius: 50%;
      transition: 0.3s ease;

      svg {
        position: relative;
        left: 1px;
      }

      &:hover {
        background-color: aliceblue;
        color: rgb(20, 26, 37);
        cursor: pointer;
      }
    }
  }

  @keyframes revealFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .navbar__search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    position: relative;
    top: 120px;

    p,
    span {
      color: #d1d1d1;
      padding: 13px;
      margin: 5px 0;
      width: 45vw;
    }

    p {
      background-color: rgba(12, 16, 23);
      transition: background-color 0.3s, color 0.3s;
      font-size: 16px;
      animation: revealFromBottom 0.5s ease;

      &:hover {
        cursor: pointer;
        outline: 0.5px solid white;
        background-color: rgba(24, 31, 44, 0.9);
        transform: scale(1.07);
      }
    }

    span {
      background-color: #1c1c1c;
    }
  }
}

@media (max-width: 460px) {
  .navbar__user-search {
    .navbar__search-close {
      width: 82vw;
    }

    .navbar__search-input {
      input {
        width: 70vw;
      }
    }

    .navbar__search-result {
      p,
      span {
        width: 80vw;
      }
    }
  }
}
