.auth_bg_img {
  width: 100%;
  height: 100%;

  .auth_bg_img_art {
    height: 100%;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spin 1s infinite linear;
}

a {
  all: unset;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// AuthPages

@keyframes revealAnimation {
  0% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.homepage_backdrop_bg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  .homepage_backdrop {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 20;
    animation: revealAnimation 0.6s ease-in-out;
  }
}

.homepage_login_dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;

  .homepage_login_close {
    color: white;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 26px;
    right: -30px;

    svg {
      background-color: rgba(0, 0, 0, 0.42);
      border-radius: 50%;
      padding: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 800px) {
  .homepage_login_dialog {
    .homepage_login_close {
      top: 0;
      right: 2px;
      bottom: 40px;
      padding-bottom: 10px;
    }
  }
}
